<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class="page-title">ADMIN</h4>
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title b-r-0">Add Repayment</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-12">
                <div class="card">
                    <div class="header">
                        <h2 class="form-sub-header">
                            Add Repayment Details
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>Name of Employee</label>
                                    <input type="text" placeholder="Name of Employee" />
                                </div>
                            </div>
                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>Finance ID</label>
                                    <input type="text" placeholder="Finance ID" />
                                </div>
                            </div>
                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>National ID</label>
                                    <input type="text" placeholder="National ID" />
                                </div>
                            </div>
                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>Repayment Due Date</label>
                                    <input type="text" placeholder="Repayment Due Date" />
                                </div>
                            </div>
                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>Maximum Fund Per Employee</label>
                                    <input type="text" placeholder="Maximum Fund Per Employee" />
                                </div>
                            </div>

                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>EMI Serial Number</label>
                                    <input type="text" placeholder="EMI Serial Number" />
                                </div>
                            </div>
                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>Amount Outstanding</label>
                                    <input type="text" placeholder="Amount Outstanding" />
                                </div>
                            </div>
                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>EMI Amount</label>
                                    <input type="text" placeholder="EMI Amount" />
                                </div>
                            </div>

                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>Repayment ID</label>
                                    <input type="text" placeholder="Repayment ID" />
                                </div>
                            </div>

                        </div>
                        <div class="row m-b-20 submit-btns">
                            <div class="col-sm-2">
                                <div class="cus-btn2 color1">Save</div>
                            </div>

                            <div class="col-sm-2">
                                <div class="cus-btn2 color3">Cancel</div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</section>