<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class="page-title">ADMIN</h4>
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title b-r-0">Edit Product</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <br>

            <h2>Edit</h2>
        </div>
    </div>
</section>