<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class="page-title">EMPLOYER</h4>
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title b-r-0">Finance Collections</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix dashboard">
            <div class="col-sm-12 col-12">
                <div class="row clearfix mb-30">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ccol">
                        <div class="card kpi-small-card">
                            <div class="body">
                                <div class="row box">
                                    <div class="col-sm-4 col-xs-4 col-4 m-b-0 m-t-10" style="margin: auto !important;">
                                        <img src="assets/images/employer/total-no-employees.svg" />
                                    </div>
                                    <div class="col-sm-8 col-xs-8 col-8 m-b-0 info">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12 col-12 m-b-5 p-0">
                                                <div class="title">Total Number of <br>Employees</div>
                                                <div class="value">02</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ccol">
                        <div class="card kpi-small-card">
                            <div class="body">
                                <div class="row box">
                                    <div class="col-sm-4 col-xs-4 col-4 m-b-0 m-t-10" style="margin: auto !important;">
                                        <img src="assets/images/employer/total-overdue-finance.svg" />
                                    </div>
                                    <div class="col-sm-8 col-xs-8 col-8 m-b-0 info">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12 col-12 m-b-5 p-0">
                                                <div class="title">Total Overdue <br>Finance </div>
                                                <div class="value">KES 100,000</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ccol">
                        <div class="card kpi-small-card">
                            <div class="body">
                                <div class="row box">
                                    <div class="col-sm-4 col-xs-4 col-4 m-b-0 m-t-10" style="margin: auto !important;">
                                        <img src="assets/images/employer/total-amount-fin-app.svg" />
                                    </div>
                                    <div class="col-sm-8 col-xs-8 col-8 m-b-0 info">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12 col-12 m-b-5 p-0">
                                                <div class="title">Total Amount of Finances Approved</div>
                                                <div class="value">KES 50,000</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ccol">
                        <div class="card kpi-small-card">
                            <div class="body">
                                <div class="row box">
                                    <div class="col-sm-4 col-xs-4 col-4 m-b-0 m-t-10" style="margin: auto !important;">
                                        <img src="assets/images/employer/total-amount-fins-dis.svg" />
                                    </div>
                                    <div class="col-sm-8 col-xs-8 col-8 m-b-0 info">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12 col-12 m-b-5 p-0">
                                                <div class="title">Total Amount of Finances Disbursed</div>
                                                <div class="value">KES 40,000</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ccol">
                        <div class="card kpi-small-card">
                            <div class="body">
                                <div class="row box">
                                    <div class="col-sm-4 col-xs-4 col-4 m-b-0 m-t-10" style="margin: auto !important;">
                                        <img src="assets/images/employer/pending-fin-req.svg" />
                                    </div>
                                    <div class="col-sm-8 col-xs-8 col-8 m-b-0 info">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12 col-12 m-b-5 p-0">
                                                <div class="title">Pending Finance Requests</div>
                                                <div class="value">02</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ccol">
                        <div class="card kpi-small-card">
                            <div class="body">
                                <div class="row box">
                                    <div class="col-sm-4 col-xs-4 col-4 m-b-0 m-t-10" style="margin: auto !important;">
                                        <img src="assets/images/employer/pending-fin-amt.svg" />
                                    </div>
                                    <div class="col-sm-8 col-xs-8 col-8 m-b-0 info">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12 col-12 m-b-5 p-0">
                                                <div class="title">Pending Finance Amount</div>
                                                <div class="value">KES 40,000</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ccol">
                        <div class="card kpi-small-card">
                            <div class="body">
                                <div class="row box">
                                    <div class="col-sm-4 col-xs-4 col-4 m-b-0 m-t-10" style="margin: auto !important;">
                                        <img src="assets/images/employer/curr-pend-fin-amt.svg" />
                                    </div>
                                    <div class="col-sm-8 col-xs-8 col-8 m-b-0 info">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12 col-12 m-b-5 p-0">
                                                <div class="title">Current Pending Finance Amount</div>
                                                <div class="value">KES 65,002</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div style="background:#FAFAFA !important">
                    <div class="">
                        <table id="chieldRow" class="table table-striped display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Employee Name</th>
                                    <th>Finance Due Date</th>
                                    <th>National ID</th>
                                    <th>Phone No.</th>
                                    <th>Total Finance Amount</th>
                                    <th></th>
                                    <th></th>

                                </tr>
                            </thead>
                        </table>

                    </div>

                    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <img src="assets/images/popup/save-now.svg" />
                                <div class="headerText">
                                    <div class="titleDiv">Upload Repayment</div>
                                    <div>
                                        <span> &nbsp; &nbsp;
                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                            &nbsp; &nbsp; &nbsp; &nbsp;
                                        </span>
                                    </div>
                                </div>

                                <div class="modal-body">
                                    <p>Please Upload here Repayment</p>
                                    <!-- <div class="customInput">
                                        <label for="formFile" class="form-label">Upload Repayment File</label>
                                        <input class="form-control" type="file" id="formFile">
                                    </div> -->

                                    <div class="row">
                                        <label  class="form-label">Upload Repayment File</label>
                                        <div class="input-group suffix">                           
                                           <input placeholder="Please Upload here" type="text" name="input">
                                          <span class="input-group-addon ">
                                              <img class="uplodicon" src="../../../../assets/images/upload.svg">
                                          </span>
                                        </div>                   
                                      </div>

                                </div>
                                <div class="modal-footer" style="text-align:center">
                                    <button type="button" class="btn btn-info waves-effect savebtn">Submit</button>
                                    <button type="button" class="btn btn-danger waves-effect cancelbtn"
                                        data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>