<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class="page-title">ADMIN</h4>
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title b-r-0">Add New Employer</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-12">
                <div class="card">
                    <div class="header">
                        <h2 class="form-sub-header">
                            New Employer Details
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>Name of Employer</label>
                                    <input type="text" placeholder="Name of Employer" />
                                </div>
                            </div>
                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>Registration No. Of Business</label>
                                    <input type="text" placeholder="Registration No. Of Business" />
                                </div>
                            </div>
                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>Employer ID</label>
                                    <input type="text" placeholder="Employer ID" />
                                </div>
                            </div>
                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>Registration Certificate</label>
                                    <input type="text" placeholder="Registration Certificate" />
                                </div>
                            </div>
                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>Maximum Fund Per Employee</label>
                                    <input type="text" placeholder="Maximum Fund Per Employee" />
                                </div>
                            </div>
                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>Type of Business</label>
                                    <select class="browser-default">
                                        <option value="" disabled selected>Type of Business</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>Approved Fund Per Employee</label>
                                    <input type="text" placeholder="Approved Fund Per Employee" />
                                </div>
                            </div>
                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>No. Of Employees</label>
                                    <input type="text" placeholder="No. Of Employees" />
                                </div>
                            </div>
                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>No. Of Employee For Finance</label>
                                    <input type="text" placeholder="No. Of Employee For Finance" />
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="header">
                        <h2 class="form-sub-header">
                            Contact Details
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>Country</label>
                                    <select class="browser-default">
                                        <option value="" disabled selected>Country</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>State</label>
                                    <select class="browser-default">
                                        <option value="" disabled selected>State</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 m-b-5">
                                <div class="customInput">
                                    <label>Address</label>
                                    <input type="text" placeholder="Address 1" />
                                    <input type="text" placeholder="Address 2" />
                                    <input type="text" placeholder="Address 3" />
                                </div>
                            </div>
                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>PIN</label>
                                    <input type="text" placeholder="PIN" />
                                </div>
                            </div>
                            <div class="col-sm-6 m-b-5"></div>

                            <div class="col-sm-6 m-b-5">
                                <p>Coordinates</p>
                                <div class="customInput">
                                    <label>Longitude</label>
                                    <input type="text" placeholder="Longitude" />
                                </div>
                            </div>

                            <div class="col-sm-6 m-b-5">
                                <p>&nbsp;</p>
                                <div class="customInput">
                                    <label>Latitude</label>
                                    <input type="text" placeholder="Latitude" />
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <hr>
                    <div class="header">
                        <h2 class="form-sub-header">
                            Other Details
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row m-b-20">
                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>Director’s National ID</label>
                                    <input type="text" placeholder="Director’s National ID" />
                                </div>
                            </div>
                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>Director’s National ID Copy</label>
                                    <input type="text" placeholder="Director’s National ID Copy" />
                                </div>
                            </div>

                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>Contact Person</label>
                                    <input type="text" placeholder="Contact Person" />
                                </div>
                            </div>
                            <div class="col-sm-6 m-b-5">
                                <div class="customInput">
                                    <label>Status</label>
                                    <select class="browser-default">
                                        <option value="" disabled selected>Status</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row m-b-20 submit-btns">
                            <div class="col-sm-2">
                                <div class="cus-btn2 color1">Save</div>
                            </div>
                            <div class="col-sm-3">
                                <div class="cus-btn2 color2">Send for Approval</div>
                            </div>
                            <div class="col-sm-3">
                                <div class="cus-btn2 color3">Cancel</div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>