<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class="page-title">ADMIN</h4>
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title b-r-0">Download Employee List</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">

            <div class="col-sm-12">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ccol">
                        <div class="card kpi-card m-b-40">
                            <div class="body">
                                <div class="row card_bg">
                                   <div class="col-md-12">
                                       <h4>List of Employees</h4>
                                       <div class="customInput w-30 m-t-5">
                                        <label>Choose Employee List</label>
                                        <select class="browser-default" >
                                            <option value="" disabled selected>Choose Employee List</option>
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>
                                            <option value="3">Option 3</option>
                                        </select>
                                    </div>

                                   </div>
                                   <div class="col-md-12">
                                       <div class="d-flex justify-content-between">
                                        <div class="buttonbar d-flex">
                <span class="uploadbtn" (click)="gotoNewEmployee()">Download Excel Sheet</span>
                <span class="cancelbtn" (click)="gotoNewEmployee()">Cancel</span>
                                        </div>

                                        <div class="downloadDiv">
                                            <p>Download Excel Sheet Template</p>
                                            <div class="iconDwnld">
                                                <img src="../../../../assets/images/pdf.svg">
                                                <a class="dwnldtext" href="../../../../assets/images/sample.pdf" target="_blank">MPS089975YZ67.pdf</a>
                                            </div>
                                        </div>

                                       </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>
         
            <div class="col-12">

                <div style="background:#FAFAFA !important">
                    <div class="">
                        <table id="chieldRow" class="table table-striped display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Employee Name</th>
                                    <th>Finance Due Date</th>
                                    <th>National ID</th>
                                    <th>Phone No.</th>
                                    <th>Total Finance Amount</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>

                    </div>

                  

                </div>
                 </div>


        </div>



    </div>

</section>