.row {
    .ccol{
        padding-left: 10px;
        padding-right: 10px;
    }
}
.card-sub-title{
    color: #95928A !important;
    font-size: 16px !important;
}
.card-sub-value{
    color: #291F03 !important;
    font-size: 18px !important;
}
.dashboard{
    .graphCard{
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 20px;
    }
}
.nav-tabs .nav-link.active{background: none;}

.table thead tr th{
    color: #A7A4A4 !important;
    font-size: 12px;
    font-weight: bolder;
}