<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class="page-title">ADMIN</h4>
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title b-r-0">Dashboard</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix dashboard">
            <div class="col-sm-12">
                <div class="card graphCard">
                    <div class="body">
                        <div id="chart1"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="">
                    <ul class="nav nav-tabs">
                        <li class="nav-item m-l-10">
                            <a class="nav-link active" data-toggle="tab">Daily</a>
                        </li>
                        <li class="nav-item m-l-10">
                            <a class="nav-link" data-toggle="tab">Weekly</a>
                        </li>
                        <li class="nav-item m-l-10">
                            <a class="nav-link" data-toggle="tab">Monthly</a>
                        </li>
                        <li class="nav-item m-l-10">
                            <a class="nav-link" data-toggle="tab">Quarterly</a>
                        </li>
                        <li class="nav-item m-l-10">
                            <a class="nav-link" data-toggle="tab">Yearly</a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ccol">
                                <div class="card kpi-card">
                                    <div class="header">
                                        <h2><strong>Employers</strong></h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-sm-3 col-xs-3 col-3 m-b-0 m-t-5">
                                                <img src="assets/images/dashboard-tabs/employers.svg" />
                                            </div>
                                            <div class="col-sm-9 col-xs-9 col-9 m-b-0">
                                                <div class="row">
                                                    <div class="col-sm-6 col-xs-6 col-6 m-b-5">
                                                        <div class="card-sub-title">New</div>
                                                        <div class="card-sub-value">02</div>
                                                    </div>
                                                    <div class="col-sm-6 col-xs-6  col-6 m-b-5">
                                                        <div class="card-sub-title">Total</div>
                                                        <div class="card-sub-value">20</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ccol">
                                <div class="card kpi-card">
                                    <div class="header">
                                        <h2><strong>Employees</strong></h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-sm-3 col-xs-3 col-3 m-b-0 m-t-5">
                                                <img src="assets/images/dashboard-tabs/employees.svg" />
                                            </div>
                                            <div class="col-sm-9 col-xs-9 col-9 m-b-0">
                                                <div class="row">
                                                    <div class="col-sm-6 col-xs-6 col-6 m-b-5">
                                                        <div class="card-sub-title">New</div>
                                                        <div class="card-sub-value">02</div>
                                                    </div>
                                                    <div class="col-sm-6 col-xs-6  col-6 m-b-5">
                                                        <div class="card-sub-title">Total</div>
                                                        <div class="card-sub-value">20</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ccol">
                                <div class="card kpi-card">
                                    <div class="header">
                                        <h2><strong>Finances Requested</strong></h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-sm-3 col-3 m-b-0 m-t-5">
                                                <img src="assets/images/dashboard-tabs/finances-requested.svg" />
                                            </div>
                                            <div class="col-sm-9 col-9  m-b-0">
                                                <div class="row">
                                                    <div class="col-sm-12 m-b-5">
                                                        <div class="card-sub-title">Amount</div>
                                                        <div class="card-sub-value">KES 20,000</div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ccol">
                                <div class="card kpi-card">
                                    <div class="header">
                                        <h2><strong>Finances Disbursed</strong></h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-sm-3 col-3 m-b-0 m-t-5">
                                                <img src="assets/images/dashboard-tabs/finances-disbursed.svg" />
                                            </div>
                                            <div class="col-sm-9 col-9  m-b-0">
                                                <div class="row">
                                                    <div class="col-sm-12 m-b-5">
                                                        <div class="card-sub-title">Amount</div>
                                                        <div class="card-sub-value">KES 20,000</div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ccol">
                                <div class="card kpi-card">
                                    <div class="header">
                                        <h2><strong>Finances Repaid</strong></h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-sm-3 col-3 m-b-0 m-t-5">
                                                <img src="assets/images/dashboard-tabs/finances-repaid.svg" />
                                            </div>
                                            <div class="col-sm-9 col-9  m-b-0">
                                                <div class="row">
                                                    <div class="col-sm-12 m-b-5">
                                                        <div class="card-sub-title">Amount</div>
                                                        <div class="card-sub-value">KES 20,000</div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ccol">
                                <div class="card kpi-card">
                                    <div class="header">
                                        <h2><strong>Fees Collected</strong></h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-sm-3 col-3 m-b-0 m-t-5">
                                                <img src="assets/images/dashboard-tabs/fees-collected.svg" />
                                            </div>
                                            <div class="col-sm-9 col-9  m-b-0">
                                                <div class="row">
                                                    <div class="col-sm-12 m-b-5">
                                                        <div class="card-sub-title">Amount</div>
                                                        <div class="card-sub-value">KES 20,000</div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ccol">
                                <div class="card kpi-card">
                                    <div class="header">
                                        <h2><strong>Profit Collected</strong></h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-sm-3 col-3 m-b-0 m-t-5">
                                                <img src="assets/images/dashboard-tabs/profits-collected.svg" />
                                            </div>
                                            <div class="col-sm-9 col-9  m-b-0">
                                                <div class="row">
                                                    <div class="col-sm-12 m-b-5">
                                                        <div class="card-sub-title">Amount</div>
                                                        <div class="card-sub-value">KES 20,000</div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ccol">
                                <div class="card kpi-card">
                                    <div class="header">
                                        <h2><strong>Pending Finances</strong></h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-sm-3 col-3 m-b-0 m-t-5">
                                                <img src="assets/images/dashboard-tabs/pending-finances.svg" />
                                            </div>
                                            <div class="col-sm-9 col-9  m-b-0">
                                                <div class="row">
                                                    <div class="col-sm-12 m-b-5">
                                                        <div class="card-sub-title">Amount</div>
                                                        <div class="card-sub-value">KES 20,000</div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12 col-12">

                <p style="text-align:left;">
                    <span class="page-title">Employer Details</span>
                    <span style="float:right;">
                        View More
                    </span>
                </p>
                <div class="card" style="background:#FAFAFA !important">
                    <div class="body table-responsive" style="padding: 15px 0px;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Employer Name</th>
                                    <th>On Boarding Date</th>
                                    <th>Total No. Of Employees</th>
                                    <th>New No. Of Finances</th>
                                    <th>Total Amt.of New Finances</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Tupendane</th>
                                    <td>2011/04/25</td>
                                    <td>44</td>
                                    <td>4</td>
                                    <td>KES 61,000.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Huruma</th>
                                    <td>2011/04/25</td>
                                    <td>44</td>
                                    <td>4</td>
                                    <td>KES 61,000.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Tupendane</th>
                                    <td>2011/04/25</td>
                                    <td>44</td>
                                    <td>4</td>
                                    <td>KES 61,000.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Tupendane</th>
                                    <td>2011/04/25</td>
                                    <td>44</td>
                                    <td>4</td>
                                    <td>KES 61,000.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Huruma</th>
                                    <td>2011/04/25</td>
                                    <td>44</td>
                                    <td>4</td>
                                    <td>KES 61,000.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>