<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class="page-title">EMPLOYER</h4>
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title b-r-0">Add Repayment</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix mb-30">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ccol">
                <div class="card kpi-small-card">
                    <div class="body">
                        <div class="row box">
                            <div class="col-sm-4 col-xs-4 col-4 m-b-0 m-t-10" style="margin: auto !important;">
                                <img src="assets/images/employer/total-no-employees.svg" />
                            </div>
                            <div class="col-sm-8 col-xs-8 col-8 m-b-0 info">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-12 m-b-5 p-0">
                                        <div class="title">Total Number of <br>Employees</div>
                                        <div class="value">02</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ccol">
                <div class="card kpi-small-card">
                    <div class="body">
                        <div class="row box">
                            <div class="col-sm-4 col-xs-4 col-4 m-b-0 m-t-10" style="margin: auto !important;">
                                <img src="assets/images/employer/total-overdue-finance.svg" />
                            </div>
                            <div class="col-sm-8 col-xs-8 col-8 m-b-0 info">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-12 m-b-5 p-0">
                                        <div class="title">Total Overdue <br>Finance </div>
                                        <div class="value">KES 100,000</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ccol">
                <div class="card kpi-small-card">
                    <div class="body">
                        <div class="row box">
                            <div class="col-sm-4 col-xs-4 col-4 m-b-0 m-t-10" style="margin: auto !important;">
                                <img src="assets/images/employer/total-amount-fin-app.svg" />
                            </div>
                            <div class="col-sm-8 col-xs-8 col-8 m-b-0 info">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-12 m-b-5 p-0">
                                        <div class="title">Total Amount of Finances Approved</div>
                                        <div class="value">KES 50,000</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ccol">
                <div class="card kpi-small-card">
                    <div class="body">
                        <div class="row box">
                            <div class="col-sm-4 col-xs-4 col-4 m-b-0 m-t-10" style="margin: auto !important;">
                                <img src="assets/images/employer/total-amount-fins-dis.svg" />
                            </div>
                            <div class="col-sm-8 col-xs-8 col-8 m-b-0 info">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-12 m-b-5 p-0">
                                        <div class="title">Total Amount of Finances Disbursed</div>
                                        <div class="value">KES 40,000</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ccol">
                <div class="card kpi-small-card">
                    <div class="body">
                        <div class="row box">
                            <div class="col-sm-4 col-xs-4 col-4 m-b-0 m-t-10" style="margin: auto !important;">
                                <img src="assets/images/employer/pending-fin-req.svg" />
                            </div>
                            <div class="col-sm-8 col-xs-8 col-8 m-b-0 info">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-12 m-b-5 p-0">
                                        <div class="title">Pending Finance Requests</div>
                                        <div class="value">02</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ccol">
                <div class="card kpi-small-card">
                    <div class="body">
                        <div class="row box">
                            <div class="col-sm-4 col-xs-4 col-4 m-b-0 m-t-10" style="margin: auto !important;">
                                <img src="assets/images/employer/pending-fin-amt.svg" />
                            </div>
                            <div class="col-sm-8 col-xs-8 col-8 m-b-0 info">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-12 m-b-5 p-0">
                                        <div class="title">Pending Finance Amount</div>
                                        <div class="value">KES 40,000</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ccol">
                <div class="card kpi-small-card">
                    <div class="body">
                        <div class="row box">
                            <div class="col-sm-4 col-xs-4 col-4 m-b-0 m-t-10" style="margin: auto !important;">
                                <img src="assets/images/employer/curr-pend-fin-amt.svg" />
                            </div>
                            <div class="col-sm-8 col-xs-8 col-8 m-b-0 info">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-12 m-b-5 p-0">
                                        <div class="title">Current Pending Finance Amount</div>
                                        <div class="value">KES 65,002</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row clearfix">
            <div class="col-12">
                <div class="card">
                    <div class="header">
                        <h2 class="form-sub-header">
                           Add Repayment Details
                        </h2>
                    </div>
                    <form [formGroup]="employeeForm" (ngSubmit)="doSubmit()">
                        <div class="body">
                            <div class="row">
                                <div class="col-sm-6 m-b-5">
                                    <div class="customInput">
                                        <label>Name of Employee</label>
                                        <input type="text" formControlName="nameOfEmployee"
                                            placeholder="Name of Employee" />
                                    </div>
                                    <div class="validation-errors">
                                        <ng-container *ngFor="let validation of validation_messages.nameOfEmployee">
                                            <div class="error-message"
                                                *ngIf="employeeForm.get('nameOfEmployee').hasError(validation.type) && (employeeForm.get('nameOfEmployee').dirty || employeeForm.get('nameOfEmployee').touched)">
                                                {{ validation.message }}
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="col-sm-6 m-b-5">
                                    <div class="customInput">
                                        <label>Finance ID</label>
                                        <input type="text" formControlName="financeId" placeholder="Finance ID" />
                                    </div>
                                    <div class="validation-errors">
                                        <ng-container *ngFor="let validation of validation_messages.financeId">
                                            <div class="error-message"
                                                *ngIf="employeeForm.get('financeId').hasError(validation.type) && (employeeForm.get('financeId').dirty || employeeForm.get('financeId').touched)">
                                                {{ validation.message }}
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="col-sm-6 m-b-5">
                                    <div class="customInput">
                                        <label>National ID</label>
                                        <input type="text" formControlName="nationalId" placeholder="National ID" />
                                    </div>
                                    <div class="validation-errors">
                                        <ng-container *ngFor="let validation of validation_messages.nationalId">
                                            <div class="error-message"
                                                *ngIf="employeeForm.get('nationalId').hasError(validation.type) && (employeeForm.get('nationalId').dirty || employeeForm.get('nationalId').touched)">
                                                {{ validation.message }}
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                              

                                <div class="col-sm-6 m-b-5">
                                    <div class="customInput">
                                        <label>Phone No</label>
                                        <input type="text" formControlName="phoneNumber" placeholder="Phone No" />
                                    </div>
                                    <div class="validation-errors">
                                        <ng-container *ngFor="let validation of validation_messages.phoneNumber">
                                            <div class="error-message"
                                                *ngIf="employeeForm.get('phoneNumber').hasError(validation.type) && (employeeForm.get('phoneNumber').dirty || employeeForm.get('phoneNumber').touched)">
                                                {{ validation.message }}
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="col-sm-6 m-b-5">
                                    <div class="customInput">
                                        <label>Repayment Due Date</label>
                                        <input type="date" formControlName="repayment_due_date" placeholder="Repayment Due Date" />
                                    </div>
                                    <div class="validation-errors">
                                        <ng-container *ngFor="let validation of validation_messages.repayment_due_date">
                                            <div class="error-message"
                                                *ngIf="employeeForm.get('repayment_due_date').hasError(validation.type) && (employeeForm.get('repayment_due_date').dirty || employeeForm.get('repayment_due_date').touched)">
                                                {{ validation.message }}
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>


                                <div class="col-sm-6 m-b-5">
                                    <div class="customInput">
                                        <label>EMI Serial Number</label>
                                        <input type="text" formControlName="emi_serial_number"
                                            placeholder="EMI Serial Number" />
                                    </div>
                                    <div class="validation-errors">
                                        <ng-container *ngFor="let validation of validation_messages.emi_serial_number">
                                            <div class="error-message"
                                                *ngIf="employeeForm.get('emi_serial_number').hasError(validation.type) && (employeeForm.get('emi_serial_number').dirty || employeeForm.get('emi_serial_number').touched)">
                                                {{ validation.message }}
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                               
                                <div class="col-sm-6 m-b-5">
                                    <div class="customInput">
                                        <label>Amount Outstanding</label>
                                        <input type="text" formControlName="amount_outstanding"
                                            placeholder="Amount Outstanding" />
                                    </div>
                                    <div class="validation-errors">
                                        <ng-container *ngFor="let validation of validation_messages.amount_outstanding">
                                            <div class="error-message"
                                                *ngIf="employeeForm.get('amount_outstanding').hasError(validation.type) && (employeeForm.get('amount_outstanding').dirty || employeeForm.get('amount_outstanding').touched)">
                                                {{ validation.message }}
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                              
                                <div class="col-sm-6 m-b-5">
                                    <div class="customInput">
                                        <label>EMI Amount</label>
                                        <input type="text" formControlName="emi_amount"
                                            placeholder="EMI Amount" />
                                    </div>
                                    <div class="validation-errors">
                                        <ng-container *ngFor="let validation of validation_messages.emi_amount">
                                            <div class="error-message"
                                                *ngIf="employeeForm.get('emi_amount').hasError(validation.type) && (employeeForm.get('emi_amount').dirty || employeeForm.get('emi_amount').touched)">
                                                {{ validation.message }}
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                               

                                <div class="col-sm-6 m-b-5">
                                    <div class="customInput">
                                        <label>Repayment ID </label>
                                        <input type="text" formControlName="repayment_id"
                                            placeholder="Repayment ID" />
                                    </div>
                                    <div class="validation-errors">
                                        <ng-container *ngFor="let validation of validation_messages.repayment_id">
                                            <div class="error-message"
                                                *ngIf="employeeForm.get('repayment_id').hasError(validation.type) && (employeeForm.get('repayment_id').dirty || employeeForm.get('repayment_id').touched)">
                                                {{ validation.message }}
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                               
                             
                            </div>
                            <hr>
                        </div>
                      
                      
                        <div class="body">

                            <div class="m-b-20 submit-btns">
                                <div class="">
                                    <div class="cus-btn2 color4"
                                   (click)="save()">Save</div>
                                    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <img src="assets/images/popup/save-now.svg" />
                                            <div class="headerText" >
                                                <div class="titleDiv" >Save Now!</div>
                                                <div>
                                                    <span  > &nbsp; &nbsp;
                                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                        &nbsp; &nbsp; &nbsp; &nbsp;
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="modal-body" >
                                                <p > Are you sure you want to save this data?</p>
                                            </div>
                                            <div class="modal-footer" style="text-align:center">
                                                <button type="button" class="btn btn-danger waves-effect cancelbtn"
                                                data-dismiss="modal">Cancel</button>
                                                <button type="button"
                                                    class="btn btn-info waves-effect savebtn">Save</button>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                               
                                <div class="">
                                    <div class="cus-btn2 color3"
                                    data-toggle="modal" data-target="#cancelModal">Cancel</div>
                                    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <img src="assets/images/popup/save-now.svg" />
                                            <div class="headerText" >
                                                <div class="titleDiv" >Cancel Now!</div>
                                                <div>
                                                    <span  > &nbsp; &nbsp;
                                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                        &nbsp; &nbsp; &nbsp; &nbsp;
                                                    </span>
                                                </div>
                                            </div>
                                           
                                            <div class="modal-body">
                                               <p>Are you sure you want to cancel this?</p> 
                                            </div>
                                            <div class="modal-footer" style="text-align:center">
                                               
                                                <button type="button" class="btn btn-danger waves-effect cancelbtn"
                                                    data-dismiss="modal">Cancel</button>
                                                    <button type="button"
                                                    class="btn btn-info waves-effect savebtn">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>