.row {
    .ccol{
        padding-left: 10px;
        padding-right: 10px;
    }
}
.box3-value{    
    color: #4BC62E !important;
}
.box1-value{
    color: #4050B5 !important;
}

.table thead tr th{
    color: #A7A4A4 !important;
    font-size: 12px;
    font-weight: bolder;
}