<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class="page-title">ADMIN</h4>
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title b-r-0">Employer Management</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-12" style="text-align: right;margin-bottom: 20px;">
                <span class="cus-btn2 primaryBlue" (click)="gotoNewEmployer()">Add New Employer</span>
            </div>
            <br>
            <div class="col-12">
                <div class="card dash-card" *ngFor="let a of [1,1,1,1,1,1,1,1]">
                    <div class="body">
                        <div class="row">
                            <!-- <div class="col-sm-12 col-12 m-b-0 ">
                                <div style="text-align: right;padding: 5px 5px 0px 5px;color:  #0A68FF;">
                                    <img src="./assets/images/edit.svg" /> Edit
                                </div>
                            </div> -->
                            <div class="col-sm-12 col-12 m-b-0">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-6 col-6 m-b-0 m-t-5">
                                        <div class="card-label">Employer Name</div>
                                        <div class="card-value">Tupendane</div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6 col-6 m-b-0 m-t-5">
                                        <div class="card-label">On Boarding Date</div>
                                        <div class="card-value">22/02/2021</div>
                                    </div>
                                    <div class="col-sm-2 col-xs-6 col-6 m-b-0 m-t-5">
                                        <div class="card-label">Contact Name</div>
                                        <div class="card-value">Charan</div>
                                    </div>
                                    <div class="col-sm-2 col-xs-6 col-6 m-b-0 m-t-5">
                                        <div class="card-label">Phone No.</div>
                                        <div class="card-value">+2541283621</div>
                                    </div>
                                    <div class="col-sm-2 col-xs-6 col-6 m-b-0 m-t-5">
                                        <div class="card-label">Status</div>
                                        <div class="card-value">
                                            <div class="cus-btn purple">Created</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6 col-6 m-b-0 m-t-5">
                                        <div class="card-label">Total No. Of Employees</div>
                                        <div class="card-value">2</div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6 col-6 m-b-0 m-t-5">
                                        <div class="card-label">Allocated Fund</div>
                                        <div class="card-value">KES 300,000</div>
                                    </div>
                                    <div class="col-sm-2 col-xs-6 col-6 m-b-0 m-t-5">
                                        <div class="card-label">Used Fund</div>
                                        <div class="card-value">KES 100,000</div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6 col-6 m-b-0 m-t-5">
                                        <div class="card-label">Address</div>
                                        <div class="card-value">Tupendane DTB Centre, 6th Floor, Mombasa Road P. O. Box
                                            61711-00200 Nairobi, KENYA
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-12 col-12 m-b-0 list-bottom-btns">
                                <span>Edit</span>
                                <span>View More</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>



    </div>

</section>