.card-label{
    color: #2C2727 !important;
    opacity: 1;
    font-size: 14px;
    font-weight: bold;
}
.card-value{
    color:#646262 !important;
    opacity: 100%;
    font-size: 14px;
}
.list-bottom-btns{
    cursor: pointer; 
    text-align: right;
    padding: 5px;
    color:  #0A68FF;
    margin-top:-30px !important;
    span{
        padding: 10px;
    }
}