<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class="page-title">ADMIN</h4>
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title b-r-0">Finance Origination</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ccol">
                        <div class="card kpi-card">
                            <div class="body">
                                <div class="row box1">
                                    <div class="col-sm-3 col-xs-3 col-3 m-b-0 m-t-10" style="margin: auto !important;">
                                        <img src="assets/images/finance/approved.svg" />
                                    </div>
                                    <div class="col-sm-9 col-xs-9 col-9 m-b-0 m-t-10">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12 col-12 m-b-5">
                                                <div class="card-sub-title">Finance Request Pending</div>
                                                <div class="card-sub-value">02</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ccol">
                        <div class="card kpi-card">
                            <div class="body">
                                <div class="row box2">
                                    <div class="col-sm-3 col-xs-3 col-3 m-b-0 m-t-10" style="margin: auto !important;">
                                        <img src="assets/images/finance/pending.svg" />
                                    </div>
                                    <div class="col-sm-9 col-xs-9 col-9 m-b-0 m-t-10">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12 col-12 m-b-5">
                                                <div class="card-sub-title">Finance Amount Pending</div>
                                                <div class="card-sub-value">KES 20,000</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-12">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive">
                            <table id="chieldRow" class="display" style="width:100%">
                                <thead>
                                    <tr>

                                        <th>Employer Name</th>
                                        <th>Request Pending</th>
                                        <th>Request Approved</th>
                                        <th>Request Amount</th>
                                        <th>Approved Amount</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>