<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class="page-title">EMPLOYER</h4>
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title b-r-0">Notifications</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-4" (click)="selectTnype('SMS')">
                <div class="card  m-t-0 card1" [ngClass]="showTemplate =='SMS'? 'cardSms': 'unSelectCard'">
                    <div class="div1">
                        <img *ngIf="showTemplate != 'SMS'"
                            src="./assets/images/notification/sms-notifications-normal-icon.svg">
                        <img *ngIf="showTemplate == 'SMS'"
                            src="./assets/images/notification/sms-notifications-active-icon.svg">
                    </div>
                    <div class="div2">
                        <div class="title"> SMS</div>
                        <div class="value">
                            Requests
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" (click)="selectTnype('Push')">
                <div class="card  m-t-0 card1" [ngClass]="showTemplate =='Push'? 'cardPush': 'unSelectCard'">
                    <div class="div1">
                        <img class="tabImg" *ngIf="showTemplate != 'Push'"
                            src="./assets/images/notification/push-notifications-normal-icon.svg">
                        <img class="tabImg" *ngIf="showTemplate == 'Push'"
                            src="./assets/images/notification/push-notifications-active-icon.svg">
                    </div>
                    <div class="div2">
                        <div class="title"> Push</div>
                        <div class="value">
                            Notifications
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" (click)="selectTnype('Email')">
                <div class="card  m-t-0 card1" [ngClass]="showTemplate =='Email'? 'cardEmail': 'unSelectCard'">
                    <div class="div1">
                        <img *ngIf="showTemplate != 'Email'"
                            src="./assets/images/notification/email-notifications-normal-icon.svg">
                        <img *ngIf="showTemplate == 'Email'"
                            src="./assets/images/notification/email-notifications-active-icon.svg">
                    </div>
                    <div class="div2">
                        <div class="title"> Email</div>
                        <div class="value">
                            Notifications
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <label class="cus-label">Textarea</label>
                <textarea rows="6" class="form-control" placeholder="Enter Notifications here.."></textarea>
            </div>
            <div class="col-sm-12 m-t-30">
                <div style="background:#FAFAFA !important">
                    <div class="">
                        <table id="chieldRow" class="table table-striped display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Serial No.</th>
                                    <th>Date & Time</th>
                                    <th>Requests</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- <app-sms *ngIf="showTemplate == 'SMS'"></app-sms>
        <app-notification *ngIf="showTemplate == 'Push'"></app-notification>
        <app-email-notifications *ngIf="showTemplate == 'Email'"></app-email-notifications> -->
    </div>

</section>
