<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class="page-title">ADMIN</h4>
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title b-r-0">Employee Management</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <br>
            <div class="col-12" style="text-align: right;margin-bottom: 20px;">
                <span class="cus-btn2 primaryBlue" (click)="gotoNewEmployee()">Add New Employee</span>
            </div>
            <br>
            <div class="col-12">

                <div style="background:#FAFAFA !important">
                    <div class="">
                        <table id="chieldRow" class="table table-striped display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Employee Name</th>
                                    <th>Finance Due Date</th>
                                    <th>National ID</th>
                                    <th>Phone No.</th>
                                    <th>Total Finance Amount</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>

                    </div>

                    <div class="modal fade" id="approveModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <img src="assets/images/popup/save-now.svg" />
                                <div class="headerText">
                                    <div class="titleDiv">Approve Now!</div>
                                    <div>
                                        <span> &nbsp; &nbsp;
                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                            &nbsp; &nbsp; &nbsp; &nbsp;
                                        </span>
                                    </div>
                                </div>

                                <div class="modal-body">
                                    <p>Are you sure you want to send this for approval?</p>
                                </div>
                                <div class="modal-footer" style="text-align:center">
                                    <button type="button" class="btn btn-info waves-effect savebtn">Approve</button>
                                    <button type="button" class="btn btn-danger waves-effect cancelbtn"
                                        data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <img src="assets/images/popup/save-now.svg" />
                                <div class="headerText">
                                    <div class="titleDiv">Reject Now!</div>
                                    <div>
                                        <span> &nbsp; &nbsp;
                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                            &nbsp; &nbsp; &nbsp; &nbsp;
                                        </span>
                                    </div>
                                </div>

                                <div class="modal-body">
                                    <p>Are you sure you want to reject this?</p>
                                    <div class="customInput">
                                        <label>Comments</label>
                                        <textarea type="text" rows="4" placeholder="Enter Comments"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer" style="text-align:center">
                                    <button type="button" class="btn btn-info waves-effect savebtn">Reject</button>
                                    <button type="button" class="btn btn-danger waves-effect cancelbtn"
                                        data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <div class="card dash-card" *ngFor="let a of [1,1,1,1,1,1,1,1]">
                    <div class="body">
                        <div class="row">

                            <div class="col-sm-12 col-12 m-b-0">
                                <div class="row">
                                    <div class="col-sm-4 col-xs-6 col-6 m-b-0 m-t-5">
                                        <div class="card-label">Employer Name</div>
                                        <div class="card-value">Tupendane</div>
                                    </div>

                                    <div class="col-sm-4 col-xs-6 col-6 m-b-0 m-t-5">
                                        <div class="card-label">Number of Emplloyee</div>
                                        <div class="card-value">Charan</div>
                                    </div>
                                    <div class="col-sm-4 col-xs-6 col-6 m-b-0 m-t-5">
                                        <div class="card-label">Number of Active Employee</div>
                                        <div class="card-value">22</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-12 m-b-0 list-bottom-btns">
                                <span>View More</span>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>


        </div>



    </div>

</section>